@media only screen and (max-width: 768px) {
	.navbar-brand{
		font-size: 1.85em;
	}
	.nav_e{
	display: none;
	}
	.nav_c{
		display: block;
	}
	
  .home_centre{
		font-size: 3em;
	}
	.con_i2q, .con_i2, .con_iq, .con_i{
	display:block;
	}

	.pro_box1 div{
		font-size: 1.2em;
	}
	.pro_box1 a{
		font-size: 1em;
	}
}

@media only screen and (max-width: 425px) {
	.navbar-brand{
		font-size: 1.7em;
	}
	.fa-bars{
		font-size: 1.3em;
	}
	.navbar{
		padding: 0.5em 2em;
	}
	footer{
		margin-top: 8%;
	}
}

@media only screen and (max-width: 1024px) {
	.home_centre{
		font-size: 4em;
	}
	.carousel-inner img {
		width: auto;
      height: 100%;
  }
}