@font-face {
  font-family: futur;
  src: url(futur.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	font-family: 'Open Sans', sans-serif;
}


html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
	width: 100%;
	background: #F0EDE5;
}




nav {
	padding: 0.5% 0.5%;
	display: inline-block;
	margin-top: 0%;
	background-color: rgba(255, 255, 255,0.9);
	position: fixed;
	width: 100%;
	z-index: 2;	
}

nav li{
	list-style-type: none;
	display: inline-block;
	font-size: 20px;
	padding-right: 1%;
	float: right;
}

nav li a{
	color: black;
	text-decoration:none;
	font-family: "raleway";
	font-size: 20px;
}

nav li a:hover{
	color:#FF6F61;
	text-decoration: none;
}
nav li a.current{
	color: #FF6F61;
}

nav ul{
	display: inline-block;
}

.fixed_btn{
	position: fixed;
	z-index: 4;
	width:100px;
	height: 70px; 
	bottom:  0px;
	right:   -30px;	
}
#fix_msg, #fix_msg1 ,#fix_msg2{
	width: 60px;
	border-radius: 50%;
}

.fix_options{
	display: none;
}
.fixed_btn:hover .fix_options{
	display: block;
}
#fix_msg{
	right: 0px;
	bottom: 0px;
}
#fix_msg1{
	right: 25px;
	bottom: 72px;
	position: fixed;
}
#fix_msg2{
	right: 75px;
	bottom: 10px;
	position: fixed;
}
#nav1{
	width: 30%;
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
	float: left;
	font-weight: normal;
	color: #585858;
	font-size: 30px;

}
#nav2{
	width: 70%;
	padding-top: 0.8%;
	padding-right: 2%;

	box-sizing: border-box;

	

}
.home_centre{
	
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 40%;
	
	color: white;
	
	font-size: 80px;
	font-weight: 100;
}
#myCarousel{
	filter: blur(5px);
}

#typedtext{
	font-family: "raleway";

}
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
.carousal-container {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.carousel, .carousel-inner {
	height: 100%;
	width: 100%;
}



/***************  SECTION1 ****************/
#section1{
	margin: 2% 5%;
}
.section1_heading{
	color: #121212;
	font-family: raleway;
	
	font-size: 34px;
	margin: 1% 0%;
}

.card img{
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

.card:hover{
	transform: translateY(-20px);	
	 box-shadow: 0px 9px 8px -7px black;
}
.col-sm-4{
	padding: 2% 2%;
}
.card-title{
	color: #121212;

}
.card{
	background-color: #fff;
	color: #717171;
	padding: 4%;
	border-radius: 8%;
}
.row:hover> .col-sm-4{
	opacity: 0.4;
}

.row:hover> .col-sm-4:hover{
	opacity: 1;
}


/***************  SECTION2 ****************/
#section2{
	margin: 4% 5%;
}

.section2_heading{
	font-family: raleway;
	font-size: 34px;
	margin: 1% 0%;
}

/***************  Footer ****************/

footer{
	margin-top: 1%;
	padding: 0% 5%;
	padding-bottom: 1%; 
	background-color: #2A293E;
	position: relative;
	color: #fff;

}

footer:before{
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 0;
	content: '';
	bottom: 0;
	right: 0;
	left: 0;
	transform-origin: bottom right;
	transform: skewY(1.5deg);
	background: inherit;
} 



/***************  CONTACT US ****************/

#contact_sec{
	position: absolute;
	z-index: 7;
	font-size: 20px;
	font-weight: 300;
	margin: 0% 5%;
	padding: 1% 2%;
	margin-top: 7%;
	background-color: rgba(255,255,255,0.5);
	width: 90%;
	border-radius: 25px;
	height: 80%;
}


#contact_sec form input {
  outline: 0;
  background: transparent;
  border-width: 0 0 1px;
  border-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
}

#contact_sec form input:hover{
	font-size: 20px;
	  transition: all 0.3s ease;
}

#contact_sec form input::placeholder{
	font-size: 18px;
	color: #606060;
	font-family: 'Montserrat', sans-serif; font-weight: 500;"
}

.input1{
	margin-right:  3%;
	margin-top: 3%;
}

.input2{
	height: 80px;
	width: 70%;
	margin-bottom: 4%;
}

.input2:hover{
		font-size: 20px;
	  transition: all 0.3s ease;

}

#contact_sec form button{
	outline: 0;
	background: transparent;
	font-family:'Montserrat', sans-serif;
	color: #2A293E;
	font-size: 22px;
	margin-left: 1%;
	margin-top: 3%;
	border:none;
	display: block;
	border:1px solid #2A293E;
	border-radius: 10px;
	
}
#contact_sec form button:hover{
	color: #2E4A62;
	border: 1px solid #2E4A62;
	box-shadow: 3px 2px 2px -1px #2E4A62;
}





/***************  PRODUCTS ****************/


.pro_box1{
	box-sizing: border-box;
	width: 20%;
	float: left;
	padding-top: 10px;
	padding-bottom: 2%;
	display: inline-block;
	text-align: center;
	background-color: rgba(255, 255, 255,0.7);
}
.pro_box1 a{
	display: block;
	font-size: 18px;
	padding: 3% 0%;
	
}
.pro_box1 div{
	font-size: 26px;
}

.pro_box2{
	box-sizing: border-box;
	width: 80%;
	
	padding:  0% 2%;
	display: inline-block;
}


.pro_box21 {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding: 1%;
	margin:  0% 0.5% 1% 0.5% ;
	background-color: rgba(255, 255, 255,0.7);
	width: 31%;
}






.info_box {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  position: relative;
  width: 100%;
  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(43,43,43,0.6);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.info_box:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  opacity: 1;
  font-family: "open sans";
  padding: 2%;
 
}